*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    -webkit-font-smoothing: subpixel-antialiased!important;
    color:#000000;
    font-weight:400;
    height:100%;
    width: 100%;
    
}

::selection {
    background: #4e5963;
    color:#3edbbc;
}

header{
    background: #788897;
    height: 90px;
}

header .header-cont{
    width: 66%;
    margin: 0px auto;

}

header .header-cont .logo{
    padding-top: 20px;
    float: left;
}

header .header-cont .title{
    float: right;
    font-size: 20px;
    display: block;
    padding-top: 30px;
    color: white;
}

section{
    position:absolute;
    width:100%;
    height:500px;
    background-color: #ffffff;
}

.section-cont{
    position: absolute;
    width: 66%;
    height: 100%;
    margin-left: 17%;
}

.section-cont .img1{
    float: left;
    margin-top: 35px;
    padding: 10px;
}

.section-cont .text{
    color: #3edbbc;
    float:center;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #788897;
    border-bottom: 1px solid #788897;
}

p{
    color: #424c55;
}

.section-cont .back{
    margin-top: 2%;
    text-align: center;
    width:183px;
    height:47px;
    line-height:47px;
    border:2px solid #3edbbc;
    text-transform:uppercase;
    color:#22272b;
    cursor:pointer;
    font-size:18px;
    background:none;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
  
.section-cont .back:hover{
    color:#ffffff;
    background:#2f363e;
    border: 2px solid #2f363e;;
}

footer{
    width: 100%;
    height: 90px;
    background: #2f363e;
    position:fixed;
    left: 0;
    bottom: 0;

}

footer .margin{
    width: 66%;
    margin: 0px auto;
}

.margin .sociales{
    padding-top: 40px;
    color:#5f666e;
}

.margin .sociales a{
    color: #707a85;
    margin-right: 20px;
}

.margin .sociales a:hover{
    color:white;
}

.margin .copyright{
    float:right;
    color:#707a85;
}